// Custom styles.

// Vanilla font for teng's blog post.
@font-face {
    font-family: 'vanilla';
    src: url('../fonts/vanilla/vanilla-webfont.eot');
    src: url('../fonts/vanilla/vanilla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vanilla/vanilla-webfont.woff') format('woff'),
         url('../fonts/vanilla/vanilla-webfont.ttf') format('truetype'),
         url('../fonts/vanilla/vanilla-webfont.svg#vanillaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$purple = #6D568F
$blue = #29AAD8
$gold = #fc0
$lightgray = #e2eaed
$gray = #789

body
  letter-spacing -0.5px

a
  &:hover
    color $blue
    border-color $blue

.posts-expand .post-meta
  letter-spacing 0

// NAV
.menu 
  padding 0
  margin-top 6px
  .menu-item a
    border-radius 3px
    font-size 14px
    font-weight bold
    transition background 0.15s ease-out
    &:hover
      background $purple
      color white

.site-meta
  margin-left 0
  .site-title
    img 
      display inline
      position relative
      top 3px
      vertical-align top
    .site-title-text
      color $purple
      text-transform uppercase
      opacity 0.8
      font-weight 400
      padding-left 5px

// HEADER/FOOTER
.header, .footer
  background white

.header-inner
  margin-bottom 40px

.svg-logo
  width 125px

.footer
  padding 50px 0

.theme-info, .powered-by::after
  display none



// POSTS
h1
  font-size 30px
.posts-expand 
  .post-title
    font-size 36px
  .post-title-link
    font-family "open sans", sans-serif
    &:before {display: none !important;}
    &:hover {color: $blue}

.post-more-link a
  border: 1px solid $gray
  padding: 4px 12px
  border-radius: 3px

  &:hover
    color $blue
    border-color $blue

.post hr, .posts-expand hr
  margin: 50px 0
  background: $gray * 0.5 + 0.5 * #fff


// CODE
.post pre, .post .highlight 
  letter-spacing 0
  font-size 14px

// inline code
.post code, .posts-expand code
  font-size 15px
  padding 0.1em 0.3em
  border-radius 3px
  background $lightgray

.s-html-example
  padding 30px
  background #eee
  margin-bottom 25px



// MEDIA
+tablet()
  .one-column .header-inner, 
  .one-column .main-inner, 
  .one-column .main-inner .content
    width 700px

@media (max-width: 767px)
  h1
    font-size 26px
  body
    font-size 15px
  .posts-expand .post-title
    font-size 32px
  hr
    margin: 30px 0

@media (min-width: 1200px)
  .site-meta
    margin-left -90px
  .menu
    margin-right -90px



// ARTICLE LIST
.posts-expand .post
  border-bottom: 1px solid #abc;
  padding-bottom 80px



// SIDEBAR
.sidebar
  box-shadow none
  background #25282b

  .sidebar-inner
    text-align left
    padding 25px 30px

.page-post-detail .sidebar-nav-toc
  padding 0
.sidebar .post-toc ol
  padding-left 0

.sidebar-toggle, .back-to-top
  background $purple
  padding 16px
  border-radius 100px

.back-to-top
  bottom 45px

.sidebar-toggle
  bottom 100px

.links-of-author a 
  &:before
    background: $gold